<!-- Starts Banner -->
<div class="banner">
    <ul class="banner-carousel owl-carousel slide">
        <li class="slide__item">
            <img src="/frontend/images/slider-1.jpg" alt="banner" />

            <div class="slide-caption">
                <h2 class="slide-caption__title">Talk to us for Free Legal Advice</h2>
                <h1 class="slide-caption__head">FREE LEGAL ADVICE FROM LEADING LAWYERS</h1>
                <p class="slide-caption__desc"> Need a quick consult? <br> Call us now on <i class="fa fa-phone-square"></i>844-844-50-49</p>
                <div class="click">
                    <a href="#" id="bookCallBtn">
                        <i class="fa fa-pencil-square"></i>Book a Call Back
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>
        </li>

        <li class="slide__item">
            <img src="/frontend/images/slider-2.jpg" alt="banner" />

            <div class="slide-caption">
                <h2 class="slide-caption__title">Talk to us for Free Legal Advice</h2>
                <h1 class="slide-caption__head">FREE LEGAL ADVICE FROM LEADING LAWYERS</h1>
                <p class="slide-caption__desc"> Need a quick consult? <br> Call us now on <i class="fa fa-phone-square"></i>844-844-50-49</p>
                <div class="click">
                    <a href="#" id="bookCallBtn">
                        <i class="fa fa-pencil-square"></i>Book a Call Back
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>
        </li>

        <li class="slide__item">
            <img src="/frontend/images/slider-3.jpg" alt="banner" />

            <div class="slide-caption">
                <h2 class="slide-caption__title">Talk to us for Free Legal Advice</h2>
                <h1 class="slide-caption__head">FREE LEGAL ADVICE FROM LEADING LAWYERS</h1>
                <p class="slide-caption__desc"> Need a quick consult? <br> Call us now on <i class="fa fa-phone-square"></i>844-844-50-49</p>
                <div class="click">
                    <a href="#" id="bookCallBtn">
                        <i class="fa fa-pencil-square"></i>Book a Call Back
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- Ends Banner -->

<!-- Information Block -->
<div class="information-block">
    <div class="row">
        <div class="col-md-4">
            <div class="card  bg-light rounded-0 border-0 text-center card-bg-1">
                <div class="card-body">
                    <img src="/frontend/images/find-lawyer-icon.png" alt="" class="img-fluid">
                    <h5 class="card-title">1000+ Lawyer</h5>
                    <p class="card-text">Find a lawyer</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card  bg-light rounded-0 border-0 text-center card-bg-2">
                <div class="card-body">
                    <img src="/frontend/images/get-quote-icon.png" alt="" class="img-fluid">
                    <h5 class="card-title">Consultation Starting from Rs 999/-*</h5>
                    <p class="card-text">Get a Quote</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card  bg-light rounded-0 border-0 text-center card-bg-3">
                <div class="card-body">
                    <img src="/frontend/images/talk-free-icon.png" alt="" class="img-fluid">
                    <h5 class="card-title">100%</h5>
                    <p class="card-text">Transparent process</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--... Information Block -->


<!-- Starts Top Lawyers -->

<div class="top-lawyers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Consult
                        <span>Leading Lawyer</span>
                    </h2>
                    <h3>
                        <span>PROFESSIONAL &</span> EXPERIENCED ATTORNEYS</h3>
                    </div>
                    <div class="lawyers-box">
                        <div class="lawyers-carousel owl-carousel owl-theme">
                            <div class="item">
                                <img src="/frontend/images/top-lawyer-icon1.png" alt="Civil Law">
                                <h2>Civil Law</h2>
                                <h6>Adv Abhishek Upadhye</h6>
                                <p>Advocate Abhishek Upadhye has been practicing and handling cases independently with a
                                    result
                                oriented approach.</p>
                                <a href="">Read More</a>
                                <i class="fa fa-caret-right"></i>
                            </div>
                            <div class="item">
                                <img src="/frontend/images/top-lawyer-icon2.png" alt="Civil Law">
                                <h2>Family Law</h2>
                                <h6>Adv Kaviyanathan D</h6>
                                <p>Advocate Kaviyanathan D completed his law in the year 2006 and has been providing
                                    services in
                                various fields of law.</p>
                                <a href="">Read More</a>
                                <i class="fa fa-caret-right"></i>
                            </div>
                            <div class="item">
                                <img src="/frontend/images/top-lawyer-icon3.png" alt="Civil Law">
                                <h2>Corporate Law</h2>
                                <h6>Adv Gaurav Sharma</h6>
                                <p>Advocate Gaurav Sharma has been practicing and handling cases independently with a
                                    result-oriented
                                approach.</p>
                                <a href="">Read More</a>
                                <i class="fa fa-caret-right"></i>
                            </div>
                            <div class="item">
                                <img src="/frontend/images/top-lawyer-icon4.png" alt="Civil Law">
                                <h2>Divorce, Muslim Law</h2>
                                <h6>Adv Murali Krishnan Sanjeevi</h6>
                                <p>Advocate Murali Krishnan Sanjeevi completed his law in the year 2012 and has been
                                    providing services
                                in various fields of law.</p>
                                <a href="">Read More</a>
                                <i class="fa fa-caret-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ends Top Lawyers -->

    <!-- Starts Find Lawyers -->

    <div class="find-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Find
                            <span>Lawyers by</span>
                        </h2>
                        <h3>
                            <span>ALL THE LEGAL HELP YOU NEED. ANYTIME. ANYWHERE
                            </span> SEE EVERYTHING WE CAN HELP YOU WITH</h3>
                        </div>

                        <div class="find-tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">
                                        <i class="fa fa-map-marker"></i>City</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">
                                            <i class="fa fa-balance-scale"></i>Court</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#references" role="tab" data-toggle="tab">
                                                <i class="fa fa-university"></i>Expertise</a>
                                            </li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="profile">
                                                <div class="content-box">
                                                    <div class="city-pan">
                                                        <ul>
                                                            {{#each get_city}}
                                                            <li><a href="/find-lawyers-by-city/{{this.id}}">{{this.name}}</a></li>
                                                            {{/each}}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="buzz">
                                                <div class="content-box">
                                                    <div class="city-pan">
                                                        <ul> {{#each get_court}}
                                                            <li><a href="/find-lawyers-by-court/{{this.id}}">{{this.name}}</a></li>
                                                            {{/each}}
                                                        </ul>
                                                    </div>
                                                </div>


                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="references">
                                                <div class="content-box">
                                                    <div class="city-pan">
                                                        <ul> {{#each get_pacticearea}}
                                                            <li><a href="/lawyers-directory/{{this.id}}">{{this.name}}</a></li>
                                                            {{/each}}
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Ends Find Lawyers -->

                    <!-- Starts notice Sevctions -->

                    <div class="notice-sections">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="heading">
                                        <h2>Top Priority
                                            <span>for LegalKart</span>
                                        </h2>
                                    </div>
                                </div>
                                {{#each legal_service_show}}
                                    <div class="col-md-3 col-sm-6 col-12">
                                        <div class="middle-box">
                                            {{#if_eq @index "0"}}  <i class="fa fa-pencil-square"></i> {{/if_eq}}
                                            {{#if_eq @index "1"}}  <i class="fa fa-credit-card"></i> {{/if_eq}}
                                            {{#if_eq @index "2"}} <i class="fa fa-building-o"></i> {{/if_eq}}
                                            {{#if_eq @index "3"}}  <i class="fa fa-briefcase"></i> {{/if_eq}}
                                            
                                            <h3>{{this.legal_service_sub_category.name}}</h3>
                                            <p style="height: 110px;overflow:hidden;">{{striptags this.content}}</p>
                                            <a href="/legal-service-details/{{this.legal_service_sub_category.id}}">Learn More</a>
                                        </div>
                                    </div>
                                {{/each}}
                                {{!-- <div class="col-md-3 col-sm-3 col-3">
                                    <div class="middle-box">
                                        <i class="fa fa-pencil-square"></i>
                                        <h3>Send a legal Notice</h3>
                                        <p>Advocate Kaviyanathan D completed his law in the year 2006 and has been providing services in
                                            various
                                        fields of law.</p>
                                        <a href="">Learn More</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-3">
                                    <div class="middle-box">
                                        <i class="fa fa-briefcase"></i>
                                        <h3>File a mutual Divorce</h3>
                                        <p>Advocate Kaviyanathan D completed his law in the year 2006 and has been providing services in
                                            various
                                        fields of law.</p>
                                        <a href="">Learn More</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-3">
                                    <div class="middle-box">
                                        <i class="fa fa-credit-card"></i>
                                        <h3>Cheque Bounce</h3>
                                        <p>Advocate Kaviyanathan D completed his law in the year 2006 and has been providing services in
                                            various
                                        fields of law.</p>
                                        <a href="">Learn More</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-3">
                                    <div class="middle-box">
                                        <i class="fa fa-building-o"></i>
                                        <h3>Incorporate a Company</h3>
                                        <p>Advocate Kaviyanathan D completed his law in the year 2006 and has been providing services in
                                            various
                                        fields of law.</p>
                                        <a href="">Learn More</a>
                                    </div>
                                </div> --}}
                            </div>
                        </div>
                    </div>

                    <!-- Ends notice Sevctions -->

                    <!-- Starts cases Section -->

                    <div class="cases-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-12">
                                    <div class="left-panel">
                                        <img src="/frontend/images/cases.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-12 col-12">
                                    <div class="middle-panel">
                                        <h2>Getting your cases Dismissed is our top priority</h2>
                                        <h6>REQUEST A QUOTE & WE WILL HELP YOUR CASES</h6>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12 col-12">
                                    <div class="right-panel pull-right">
                                        <a href="" data-toggle="modal" data-target="#register-model">Make an Appoinment
                                            <i class="fa fa-caret-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Ends cases Section -->


                    <!-- Starts Why Choose Us -->

                    <div class="why-choose-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="heading">
                                        <h2>Why
                                            <span>Choose Us</span>
                                        </h2>
                                        <h3>
                                            <span>2000+ CLIENTS TRUST THEIR CASES
                                            </span> TO MASTER LAWYER SINCE 1980</h3>
                                        </div>
                                        <div class="why-content">
                                            <ul>
                                                <li>
                                                    <div class="left-box">
                                                        <img src="/frontend/images/why-icons.png" alt="">
                                                    </div>
                                                    <div class="right-box">
                                                        <h3>Leading Lawyers</h3>
                                                        <p>Choose a leading lawyer with a reputation for superior client service.</p>
                                                        <a href="/why-choose-us">Read More <i class="fa fa-caret-right"></i></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="left-box">
                                                        <img src="/frontend/images/why-icons.png" alt="">
                                                    </div>
                                                    <div class="right-box">
                                                        <h3>Countrywide Presence</h3>
                                                        <p>We work closely with a national network of local lawyers to coordinate litigation across more than 500 districts,</p>
                                                        <a href="/why-choose-us">Read More <i class="fa fa-caret-right"></i></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="left-box">
                                                        <img src="/frontend/images/why-icons.png" alt="">
                                                    </div>
                                                    <div class="right-box">
                                                        <h3>END To END Solutions</h3>
                                                        <p>We cover every stage of the legal service availed by our clients.</p>
                                                        <a href="/why-choose-us">Read More <i class="fa fa-caret-right"></i></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="left-box">
                                                        <img src="/frontend/images/why-icons.png" alt="">
                                                    </div>
                                                    <div class="right-box">
                                                        <h3>365 Days Available</h3>
                                                        <p>Finding a solution to your problem is very important to us. We will process your inquiry to our specialists and will be in contact with you as soon as possible.</p>
                                                        <a href="/why-choose-us">Read More <i class="fa fa-caret-right"></i></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="left-box">
                                                        <img src="/frontend/images/why-icons.png" alt="">
                                                    </div>
                                                    <div class="right-box">
                                                        <h3>Cost Saving</h3>
                                                        <p>Our emphasis is on making legal services “affordable.” A lot of times, legal services, whether it is in the areas of criminal law or family law, is too expensive.</p>
                                                        <a href="/why-choose-us">Read More <i class="fa fa-caret-right"></i></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="left-box">
                                                        <img src="/frontend/images/why-icons.png" alt="">
                                                    </div>
                                                    <div class="right-box">
                                                        <h3>Msme Friendly</h3>
                                                        <p>We understand that access to good quality and affordable legal services helps small businesses to start up and grow.</p>
                                                        <a href="/why-choose-us">Read More <i class="fa fa-caret-right"></i></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Ends Why Choose Us -->

                        <!-- Starts Client Testimonials -->



                        <!-- Ends Client Testimonials -->


                        <!-- Starts Legal-ASk Sections -->

                        <div class="legal-ask-section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-12">
                                        <div class="heading">
                                            <h2>Legal
                                                <span>Services</span>
                                            </h2>
                                            <h3>
                                                <span>ALL THE LEGAL </span> HELP YOU NEED</h3>
                                            </div>
                                            <div class="legal-service-box">
                                                <div class="service-carousel owl-carousel owl-theme">
                                                    {{#each legal_service_show}}
                                                        <div class="item">
                                                        <div class="service-panel">
                                                            <img src="{{this.avatar}}" alt="service" height="170">
                                                            <h3>{{this.legal_service_sub_category.name}}</h3>
                                                            <p style="height: 130px;overflow:hidden;">{{{striptags this.content}}}</p>
                                                            <span>
                                                                <i class="fa fa-user"></i>{{this.legal_service_sub_category.name}}</span>
                                                            </div>
                                                        </div>
                                                    {{/each}}
                                                    {{!-- <div class="item">
                                                        <div class="service-panel">
                                                            <img src="/frontend/images/service-1.jpg" alt="service">
                                                            <h3>File for Mutual Divorce</h3>
                                                            <p>Get hassle-free mutual divorce for both Indian and NRI couples through experienced
                                                                lawyer
                                                            in your city.</p>
                                                            <span>
                                                                <i class="fa fa-user"></i>Family / Matrimonial</span>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="service-panel">
                                                                <img src="/frontend/images/service-2.jpg" alt="service">
                                                                <h3>Reply to Legal Notice</h3>
                                                                <p>30 Min Intro call + Start to finish help - Send a legal notice through an
                                                                experienced advocate.</p>
                                                                <span>
                                                                    <i class="fa fa-user"></i>Cheque Bounce</span>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="service-panel">
                                                                    <img src="/frontend/images/service-1.jpg" alt="service">
                                                                    <h3>File for Mutual Divorce</h3>
                                                                    <p>Get hassle-free mutual divorce for both Indian and NRI couples through experienced
                                                                        lawyer
                                                                    in your city.</p>
                                                                    <span>
                                                                        <i class="fa fa-user"></i>Family / Matrimonial</span>
                                                                    </div>
                                                                </div>
                                                                <div class="item">
                                                                    <div class="service-panel">
                                                                        <img src="/frontend/images/service-2.jpg" alt="service">
                                                                        <h3>Reply to Legal Notice</h3>
                                                                        <p>30 Min Intro call + Start to finish help - Send a legal notice through an
                                                                        experienced advocate.</p>
                                                                        <span>
                                                                            <i class="fa fa-user"></i>Cheque Bounce</span>
                                                                        </div>
                                                                    </div> --}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 col-12">
                                                            <div class="heading">
                                                                <h2>Frequently Asked
                                                                    <span>Questions</span>
                                                                </h2>
                                                                <h3>
                                                                    <span>FIND YOUR </span> ANSWER HERE</h3>
                                                                </div>
                                                                <div class="questions-section">

                                                                    <div class="about-faq m-b-100">
                                                                        <div id="aboutFAQAccordion" class="accordion">
                                                                            <div class="card mb-0 border-0">
                                                                                {{#each faq}}
                                                                                    <div class="tile">
                                                                                        <div class="card-header border-0 collapsed bg-transparent" data-toggle="collapse" href="#collapse_{{this.id}}">
                                                                                            <h4 class="card-title m-0 font-18 font-semibold">
                                                                                                {{this.question}}
                                                                                            </h4>
                                                                                        </div>
                                                                                        <div id="collapse_{{this.id}}" class="card-body collapse" data-parent="#aboutFAQAccordion">
                                                                                            <h6 class="text-uppercase font-15 font-semibold text-primary-color m-0 m-b-30 m-t-20">
                                                                                                ANSWER
                                                                                            </h6>
                                                                                            <p class="m-0 font-16">
                                                                                                {{this.answer}}
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                {{/each}}
                                                                                {{!-- <div class="tile">
                                                                                    <div class="card-header border-0 collapsed bg-transparent" data-toggle="collapse" data-parent="#aboutFAQAccordion"
                                                                                    href="#collapseTwo">
                                                                                    <h4 class="card-title m-0 font-18 font-semibold">
                                                                                        <span class="text-primary-color">02.</span> Is LegalKart a law firm or a CA firm?
                                                                                    </h4>
                                                                                </div>
                                                                                <div id="collapseTwo" class="card-body collapse" data-parent="#aboutFAQAccordion">
                                                                                    <h6 class="text-uppercase font-15 font-semibold text-primary-color m-0 m-b-30 m-t-20">
                                                                                        ANSWER
                                                                                    </h6>
                                                                                    <p class="m-0 font-16">
                                                                                        LegalKart is technology enabled aggregator of legal & financial advisory & services.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="tile">
                                                                                <div class="card-header border-0 collapsed bg-transparent" data-toggle="collapse" data-parent="#aboutFAQAccordion"
                                                                                href="#collapseThree">
                                                                                <h4 class="card-title m-0 font-18 font-semibold">
                                                                                    <span class="text-primary-color">03.</span> Is LegalKart a law firm or a CA firm?
                                                                                </h4>
                                                                            </div>
                                                                            <div id="collapseThree" class="card-body collapse" data-parent="#aboutFAQAccordion">
                                                                                <h6 class="text-uppercase font-15 font-semibold text-primary-color m-0 m-b-30 m-t-20">
                                                                                    ANSWER
                                                                                </h6>
                                                                                <p class="m-0 font-16">
                                                                                    LegalKart is technology enabled aggregator of legal & financial advisory & services.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="tile">
                                                                            <div class="card-header border-0 collapsed bg-transparent" data-toggle="collapse" data-parent="#aboutFAQAccordion"
                                                                            href="#collapseFour">
                                                                            <h4 class="card-title m-0 font-18 font-semibold">
                                                                                <span class="text-primary-color">04.</span> Is LegalKart a law firm or a CA firm?
                                                                            </h4>
                                                                        </div>
                                                                        <div id="collapseFour" class="card-body collapse" data-parent="#aboutFAQAccordion">
                                                                            <h6 class="text-uppercase font-15 font-semibold text-primary-color m-0 m-b-30 m-t-20">
                                                                                ANSWER
                                                                            </h6>
                                                                            <p class="m-0 font-16">
                                                                                LegalKart is technology enabled aggregator of legal & financial advisory & services.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tile">
                                                                        <div class="card-header border-0 collapsed bg-transparent" data-toggle="collapse" data-parent="#aboutFAQAccordion"
                                                                        href="#collapseFive">
                                                                        <h4 class="card-title m-0 font-18 font-semibold">
                                                                            <span class="text-primary-color">05.</span> Is LegalKart a law firm or a CA firm?
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapseFive" class="card-body collapse" data-parent="#aboutFAQAccordion">
                                                                        <h6 class="text-uppercase font-15 font-semibold text-primary-color m-0 m-b-30 m-t-20">
                                                                            ANSWER
                                                                        </h6>
                                                                        <p class="m-0 font-16">
                                                                            LegalKart is technology enabled aggregator of legal & financial advisory & services.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="tile">
                                                                    <div class="card-header border-0 collapsed bg-transparent" data-toggle="collapse" data-parent="#aboutFAQAccordion"
                                                                    href="#collapseSix">
                                                                    <h4 class="card-title m-0 font-18 font-semibold">
                                                                        <span class="text-primary-color">06.</span> Is LegalKart a law firm or a CA firm?
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseSix" class="card-body collapse" data-parent="#aboutFAQAccordion">
                                                                    <h6 class="text-uppercase font-15 font-semibold text-primary-color m-0 m-b-30 m-t-20">
                                                                        ANSWER
                                                                    </h6>
                                                                    <p class="m-0 font-16">
                                                                        LegalKart is technology enabled aggregator of legal & financial advisory & services.
                                                                    </p>
                                                                </div>
                                                            </div> --}}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Ends Legal-ASk Sections -->

                            <!-- Starts news sections -->

                            <!-- Ends news sections -->