<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class=" container-fluid   container-fixed-lg sm-p-l-0 sm-p-r-0">
        <div class="inner">
            <!-- START BREADCRUMB -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/dashboard">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/legal-service">Legal Service</a>
                </li>
                <li class="breadcrumb-item active">Legal Service Add</li>
            </ol>
            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>

<div class="card card-default">
    <div class="card-body">
        <h5>
            Legal Service Add
        </h5>
        <form role="form" id="legal_service" method="POST" action="/legal_service/add">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-group legal_advice_menu1">
                <label>Legal Service Level 1</label>
                <select class="full-width select2-hidden-accessible" data-init-plugin="select2" tabindex="-1" aria-hidden="true" name="legal_advice_menu1" id="legal_advice_menu1">
                    <option value="0">Select</option>
                    {{#each legal_service_head}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group legal_advice_menu2">
                <label>Legal Service Level 2</label>
                <select class="full-width select2-hidden-accessible" data-init-plugin="select2" tabindex="-1" aria-hidden="true" name="legal_advice_menu2" id="legal_advice_menu2">
                    <option value="0">Select</option>
                    {{#each legal_service_sub}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group legal_service_name">
                <label>Legal Service Name</label>
                <input type="text" class="form-control" name="legal_service_name" id="legal_service_name" placeholder="Enter Practice Area Name">
            </div>

            <button class="btn btn-primary btn-cons m-t-10 btn-lg" type="submit">Submit</button>

        </form>
    </div>
</div>



{{#content "script" mode="append"}}

<script type="text/javascript">

    $(document).ready(function (e) {
        $("#legal_service").validate({
            rules: {
                legal_service_name: {
                    required: true
                }
            },
            messages: {
                legal_service_name: {
                    required: "Name can't be blank"
                }
            },
        });
    });

</script> {{/content}}