<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class=" container-fluid   container-fixed-lg sm-p-l-0 sm-p-r-0">
        <div class="inner">
            <!-- START BREADCRUMB -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/dashboard">Home</a>
                </li>
                {{!-- <li class="breadcrumb-item">
                    <a href="/my-cases">My Cases Type</a>
                </li> --}}
                <li class="breadcrumb-item active">Cases Invitation</li>
            </ol>
            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>
<!-- END JUMBOTRON -->

<!-- START card -->
<div class="card card-transparent">
    <div class="card-header ">
         <div class="card-title">
            <h5>Invitation List</h5>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="card-body lawyers-add">
        <div class="col-xl-12 col-lg-12 col-top">
            <div class="tab-content">
                <div class="tab-pane tabDiv2 active" id="pending">
                    <table class="table table-hover demo-table-search table-responsive-block data-tables"
                        id="tableWithSearch">
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Cab No</th>
                                <th>Case Type</th>
                                {{!-- <th>Name of PS</th> --}}
                                {{!-- <th>Impound Status</th> --}}
                                {{!-- <th>Driver Name</th> --}}
                                {{!-- <th>Driver Mobile</th> --}}
                                <th>Date &amp; time</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each invitation}}
                            {{#if_eq this.invitation '0'}}
                            <tr {{#if_eq this.conversations.0.status "0"}} style="color:green;" {{/if_eq}}>
                                <td class="v-align-middle semi-bold">
                                    <p>{{math @index "+" 1}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.cab_no}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.rate_list.type_of_case}}</p>
                                </td>
                                {{!-- <td class="v-align-middle">
                                    <p>{{this.cab_case_details.0.name_of_ps}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.cab_case_details.0.impound_status}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.cab_case_details.0.driver_name}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.cab_case_details.0.driver_mobile}}</p>
                                </td> --}}
                                <td class="v-align-middle">
                                    <p>{{dateFormat this.updatedAt "DD/MM/YYYY"}}</p>
                                    <p>{{dateFormat this.updatedAt "hh:mm a"}}</p>
                                </td>
                                <td>
                                    {{#if_eq this.invitation '0'}}
                                    <button class="btn btn-success" id="invitation_process" data-invivation-process="1"
                                        data-case-id="{{this.id}}" data-case-name="{{this.cab_no}}" title="Accept"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                        Accept</button>
                                    <button class="btn btn-danger" id="invitation_process" data-invivation-process="2"
                                        data-case-id="{{this.id}}" data-case-name="{{this.cab_no}}" title="Reject"><i class="fa fa-ban" aria-hidden="true"></i>
                                        Reject</button>
                                    {{/if_eq}}
                                </td>
                            </tr>
                            {{/if_eq}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rateDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Invitation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form role="form" id="addcourtFrm" method="POST" action="/invitation/case/">
                <input type="hidden" id="invitation_id" name="invitation_id">
                <input type="hidden" id="case_id" name="case_id">
                <input type="hidden" id="case_name" name="case_name">

                <div class="modal-body">
                    <div class="form-group invitation_message">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div id="invitation_sub">
                    </div>
                </div>
        </div>

        </form>
    </div>
</div>


{{#content "script" mode="append"}}
<script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script type="text/javascript" src="/assets/plugins/jquery-inputmask/jquery.inputmask.min.js"></script>

<script type="text/javascript">

    $(document).on('click', '#invitation_process', function () {
        $(".approve_message").remove();
        var invitation_value = $(this).data("invivation-process");
        $(".invitation_message").append(`<p class="p-b-10 approve_message">Are you sure you went to ${invitation_value=='1'? 'Accept':'Reject'} this case?</p>`)
        $("#invitation_sub").append(`<button type="submit" class="btn btn-primary approve_message">${invitation_value=='1'? 'Accept':'Reject'}</button>`)
        $("#invitation_id").val(invitation_value);
        $("#case_id").val(`${$(this).data("case-id")}`)
        $("#case_name").val(`${$(this).data("case-name")}`)
        $("#rateDelete").modal('show');
    });



</script> {{/content}}

