<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class=" container-fluid   container-fixed-lg sm-p-l-0 sm-p-r-0">
        <div class="inner">
            <!-- START BREADCRUMB -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/dashboard">Home</a>
                </li>
                {{!-- <li class="breadcrumb-item">
                    <a href="/my-cases">My Cases Type</a>
                </li> --}}
                <li class="breadcrumb-item active">All Challan</li>
            </ol>
            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>
<!-- END JUMBOTRON -->

<!-- START card -->
<div class="card card-transparent">
    <div class="card-header ">
        {{#if success_add_cases}}
        <div class="alert alert-success">
            <strong>Success! </strong>{{success_add_cases}}
        </div>
        {{/if}} {{#if delete_add_lawyers}}
        <div class="alert alert-success">
            <strong>Success! </strong>{{delete_add_lawyers}}
        </div>
        {{/if}} {{#if edit_lawyers}}
        <div class="alert alert-success">
            <strong>Success! </strong>{{edit_lawyers}}
        </div>
        {{/if}}
        <div class="card-title">
            <h5>List All Challan</h5>
        </div>

        <div class="pull-right">
             {{#if_eq user.role_id '1'}}
             <a href="javascript:void(0)" class="btn btn-primary btn-cons m-b-10" id="lawyerAssignment">
                <i class="fa fa-share-square-o"></i>Assignment</a>
                {{else}}
            <a href="/case_excel_format/caseType_1.xlsx" download class="btn btn-primary btn-cons m-t-15" id="caseAddBtn">
                <i class="fa fa-download"></i> Download Excel Template
            </a>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#import" class="btn btn-primary btn-cons m-t-15">
                <i class="fa fa-upload"></i> Upload Excel
            </a>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#importFile" class="btn btn-primary btn-cons m-t-15">
                <i class="fa fa-upload"></i> Upload File
            </a>
            <a href="/legalcart-challan/add" class="btn btn-primary btn-cons m-t-15"><i class="fa fa-plus"></i> Add
                Challan</a>
            {{/if_eq}}
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="card-body lawyers-add">
        <div class="col-xl-12 col-lg-12 col-top">
            <ul class="nav nav-tabs nav-tabs-simple" role="tablist" data-init-reponsive-tabs="dropdownfx">
                <li class="nav-item liTab2">
                    <a href="javascript:void(0)" class="active indivisualAdd" class="legalAdd" data-toggle="tab" role="tab"
                        data-target="#pending">New</a>
                </li>
                <li class="nav-item liTab3">
                    <a href="javascript:void(0)" class="govAdd" data-toggle="tab" role="tab" data-target="#approve">pending</a>
                </li>
                <li class="nav-item liTab4">
                    <a href="javascript:void(0)" class="policeAdd" data-toggle="tab" role="tab" data-target="#reject">Closed</a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane tabDiv2 active" id="pending">
                    <table class="table table-hover demo-table-search table-responsive-block data-tables" id="tableWithSearch">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" onClick="checkall(this);" /> SL#
                                </th>
                                <th>Cab No.</th>
                                <th>Name of PS</th>
                                <th>Impound Status</th>
                                <th>Driver Name</th>
                                <th>Driver Mobile</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each all_cases}}
                            {{#if_eq this.status "0"}}
                            <tr>
                                <td class="v-align-middle semi-bold">
                                    {{#if_eq assign 0}}
                                    <input type="checkbox" name="case_check_id" value="{{this.id}}" />{{math @index "+" 1}}
                                    {{else}}
                                    <input type="checkbox" name="case_check_id_" value="{{this.id}}" checked disabled />{{math
                                    @index "+" 1}}
                                    {{/if_eq}}
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.cab_no}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.name_of_ps}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.impound_status}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.driver_name}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.driver_mobile}}</p>
                                </td>
                                <td>
                                    <a href="/case-conversation/{{this.id}}" class="btn btn-complete"> <i class="fa fa-eye"></i>
                                    </a>
                                    {{#if_eq assign 0}}
                                    <button id="caseViewSend" data-caseno-id="{{this.id}}" class="btn btn-info" title="Send">
                                        <i class="fa fa-share-square-o"></i>
                                    </button>
                                    {{/if_eq}}
                                    {{#if_eq assign_file 0}}
                                    <button id="caseFileAssign" data-caseno-id="{{this.id}}" class="btn btn-success" title="File Assignment">
                                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                                    </button>
                                    {{/if_eq}}

                                </td>
                            </tr>
                            {{/if_eq}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane tabDiv3" id="approve">
                    <table class="table table-hover demo-table-search table-responsive-block data-tables" id="tableWithSearch">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" onClick="checkall(this);" /> SL#
                                </th>
                                <th>Cab No.</th>
                                <th>Name of PS</th>
                                <th>Impound Status</th>
                                <th>Driver Name</th>
                                <th>Driver Mobile</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each all_cases}}
                            {{#if_eq this.status "1"}}
                            <tr>
                                <td class="v-align-middle semi-bold">
                                    {{#if_eq assign 0}}
                                    <input type="checkbox" name="case_check_id" value="{{this.id}}" />{{math @index "+" 1}}
                                    {{else}}
                                    <input type="checkbox" name="case_check_id_" value="{{this.id}}" checked disabled />{{math
                                    @index "+" 1}}
                                    {{/if_eq}}
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.cab_no}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.name_of_ps}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.impound_status}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.driver_name}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.driver_mobile}}</p>
                                </td>
                                <td>
                                    <a href="/case-conversation/{{this.id}}" class="btn btn-complete"> <i class="fa fa-eye"></i>
                                    </a>
                                    {{#if_eq assign 0}}
                                    <button id="caseViewSend" data-caseno-id="{{this.id}}" class="btn btn-info" title="Send">
                                        <i class="fa fa-share-square-o"></i>
                                    </button>
                                    {{/if_eq}}
                                    {{#if_eq assign_file 0}}
                                    <button id="caseFileAssign" data-caseno-id="{{this.id}}" class="btn btn-success" title="File Assignment">
                                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                                    </button>
                                    {{/if_eq}}

                                </td>
                            </tr>
                            {{/if_eq}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane tabDiv4" id="reject">
                    <table class="table table-hover demo-table-search table-responsive-block data-tables" id="tableWithSearch">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" onClick="checkall(this);" /> SL#
                                </th>
                                <th>Cab No.</th>
                                <th>Name of PS</th>
                                <th>Impound Status</th>
                                <th>Driver Name</th>
                                <th>Driver Mobile</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each all_cases}}
                            {{#if_eq this.status "2"}}
                             <tr>
                                <td class="v-align-middle semi-bold">
                                    {{#if_eq assign 0}}
                                    <input type="checkbox" name="case_check_id" value="{{this.id}}" />{{math @index "+" 1}}
                                    {{else}}
                                    <input type="checkbox" name="case_check_id_" value="{{this.id}}" checked disabled />{{math
                                    @index "+" 1}}
                                    {{/if_eq}}
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.cab_no}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.name_of_ps}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.impound_status}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.driver_name}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{this.driver_mobile}}</p>
                                </td>
                                <td>
                                    <a href="/case-conversation/{{this.id}}" class="btn btn-complete"> <i class="fa fa-eye"></i>
                                    </a>
                                    {{#if_eq assign 0}}
                                    <button id="caseViewSend" data-caseno-id="{{this.id}}" class="btn btn-info" title="Send">
                                        <i class="fa fa-share-square-o"></i>
                                    </button>
                                    {{/if_eq}}
                                    {{#if_eq assign_file 0}}
                                    <button id="caseFileAssign" data-caseno-id="{{this.id}}" class="btn btn-success" title="File Assignment">
                                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                                    </button>
                                    {{/if_eq}}

                                </td>
                            </tr>
                            {{/if_eq}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="viewcaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Cases</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>Case No</label>
                        <span class="requiredErr">*</span>
                        <input type="text" class="form-control" name="view_name" id="view_case" placeholder="Enter Jurisdiction Name"
                            readonly>
                    </div>
                    <div class="form-group">
                        <label>Cab No</label>
                        <span class="requiredErr">*</span>
                        <textarea class="form-control" id="view_cab" name="view_remarks" placeholder="Briefly Describe your Remarks"
                            readonly></textarea>
                    </div>
                    <div class="form-group">
                        <label>Case Type</label>
                        <span class="requiredErr">*</span>
                        <textarea class="form-control" id="view_type" name="view_remarks" placeholder="Briefly Describe your Remarks"
                            readonly></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="sendLoyerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lawyer Assignment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" id="selectLawyer">
                <input type="hidden" id="hiddencaseId" name="hiddencaseId">
                <div class="modal-body">
                    <div class="form-group ">
                        <label>Lawyers</label>
                        <span class="requiredErr">*</span>
                        <select class="full-width select2-hidden-accessible" id="laywerList" name="laywerList"
                            data-init-plugin="select2" tabindex="-1" aria-hidden="true">
                            <option value="">Select Lawyer</option>
                            {{#each lawyerDetails}}
                            <option value="{{this.id}}">{{this.first_name}} {{this.last_name}} </option>
                            {{/each}}
                        </select>
                        <div class="lawyerListLabelErrorTarget"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="lawyerAssignmentDetails">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>
<!--multiple lawyer Assign start-->
<div class="modal fade" id="legalCart_lawyer_assignment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lawyer Assignment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{!-- <form role="form" id="legalCart_lawyer_assignment_form" method="POST"> --}}
                <input type="hidden" id="caseTypeHidden" name="caseTypeHidden" value="{{caseType}}">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <input type="hidden" id="hiddencaseId" name="hiddencaseId">
                <div class="modal-body">

                    <div class="form-group ">
                        <label>Lawyers</label>
                        <span class="requiredErr">*</span>
                        <select class="full-width select2-hidden-accessible" id="laywer_assignment_form_select" name="laywer_assignment_form_select"
                            data-init-plugin="select2" tabindex="-1" aria-hidden="true">
                            {{!-- <option value="">Select Lawyer</option> --}}
                            {{#each lawyerDetails}}
                            <option value="{{this.id}}">{{this.first_name}} {{this.last_name}} </option>
                            {{/each}}
                        </select>
                        <div class="lawyerListLabelErrorTargetMulti"></div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="mulLawyerAssign">Submit</button>
                </div>
                {{!--
            </form> --}}
        </div>
    </div>
</div>

<!--multiple lawyer Assign end-->
<div class="modal fade" id="assignFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">File Assignment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" id="fileAssign" method="POST" action="/files-assign">
                <input type="hidden" id="hiddenFileId" name="hiddenFileId">
                <input type="hidden" id="caseTypeHidden" name="caseTypeHidden" value="{{caseType}}">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div class="modal-body">
                    <div class="form-group ">
                        <label>Files</label>
                        <span class="requiredErr">*</span>

                        <div class="form-group form-group-default form-group-default-select2">
                            <label>Files</label>
                            <select class="full-width select2-hidden-accessible" id="fileList" name="fileList"
                                data-init-plugin="select2" tabindex="-1" aria-hidden="true" multiple>
                                {{#each filesAll}}
                                <option value="{{this.id}}">{{this.name}} </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="fileAssignmentDetails">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{#content "script" mode="append"}}
<script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script type="text/javascript" src="/assets/plugins/jquery-inputmask/jquery.inputmask.min.js"></script>

<script type="text/javascript">
    $(document).on("click", "#lawyerDeleteBtn", function () {
        $("#lawyers_id").val($(this).data("lawyer-id"));
        $("#lawyerDeleteModal").modal("show");
    });

    $(document).on("click", "#lawyerAssignment", function () {
        var client_id = [];
        $('input[name="case_check_id"]:checked').each(function () {
            client_id.push(this.value);
        });
        if (client_id.length == 0) {
            swal("", "Please select at least one case!", "warning");
        } else {
            $('#legalCart_lawyer_assignment').modal("show");
        }
    });

    $(document).on("click", "#btnCaseAdd", function () {
        var caseType = $("#case_type").val();
        window.location.href = "/case/add/" + caseType;
    });

    $(document).on('click', "#caseView", function () {
        var case_no = $(this).data("casedetails-no");
        var cab_no = $(this).data("cab-no");
        var case_type = $(this).data("case-type");
        $("#view_case").val(case_no);
        $("#view_cab").val(cab_no);
        $("#view_type").val(case_type);
        $("#viewcaseModal").modal('show');
    });

    $(document).on('click', "#caseViewSend", function () {
        var caseId = $(this).data("caseno-id");
        $('#hiddencaseId').val(caseId);
        $("#sendLoyerModal").modal('show');
    });

    $(document).on('click', '#caseFileAssign', function () {
        var caseId = $(this).data("caseno-id");
        $('#hiddenFileId').val(caseId);
        $("#assignFile").modal('show');
    });


    $(document).ready(function () {
        $("#selectLawyer").validate({
            rules: {
                laywerList: {
                    required: true
                }
            },
            messages: {
                laywerList: {
                    required: "Please Select a Lawyer"
                }
            },
            errorPlacement: function (error, element) {
                var lawyerListLabelError = $(error).html();
                $(".lawyerListLabelErrorTarget").addClass("error").text(lawyerListLabelError);
            }
        });

        $('#fileAssign').validate({
            rules: {
                fileList: {
                    required: true
                },
                messages: {
                    fileList: {
                        required: "Please select a File"
                    }
                }
            }
        });
    });

    $(document).ready(function () {
        $('#legalCart_lawyer_assignment_form').validate({
            rules: {
                laywer_assignment_form_select: {
                    required: true
                },
                messages: {
                    laywer_assignment_form_select: {
                        required: "Please select a File"
                    }
                }
            }
        })
    });


    $(document).on("click", "#lawyerAssignmentDetails", function () {
        var selectId = $('#laywerList').val();
        var caseId = $('#hiddencaseId').val();
        $.ajax({
            type: "POST",
            url: "/lawyer/assignment",
            data: { lawyer_id: selectId, case_id: caseId },
            success: function (response) {
                swal("", "Lawyer Assignment Successfully!", "success");
                /*if (response.msg == 'You have Already Assign') {
                    alert(response.msg);
                } else {
                    $('#sendLoyerModal').modal('toggle');
                }*/

            },
            error: function (xhr) {

            }
        });
    })

    function checkall(source) {
        var checkboxes = document.getElementsByName('case_check_id');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    $(document).on('click', '#mulLawyerAssign', function () {
        var case_id = [];
        var selectId = $('#laywer_assignment_form_select').val();
        $('input[name="case_check_id"]:checked').each(function () {
            case_id.push(this.value);
        });
        $.ajax({
            url: '/case/multi-assign-laywer/',
            type: 'POST',
            data: { lawyer_id: selectId, case_id: case_id },
            success: function (response) {
                if (response.msg == 'You have Already Assign') {
                    swal({
                        title: "Nice!",
                        text: response.msg,
                        type: "success"
                    }, function () {
                        window.location.reload();
                    });
                } else {
                    swal({
                        title: "Nice!",
                        text: "Lawyer Assign successfully",
                        type: "success"
                    }, function () {
                        window.location.reload();
                    });
                }


            }
        });
    });

</script> {{/content}}

